$color-font: #808080;
$title-color: #fd8662;
$font-text: "IBM Plex Mono", monospace;

footer {
    font-family: $font-text;
    .footer-cont {
        display: flex;
        justify-content: space-around;
        border-bottom: $color-font solid 1px;
        width: 88%;
        margin: auto;
        padding: 1em;
        .footer-icon {
            display: flex;
            padding-bottom: 1em;
            i {
                padding-right: 8px;
                text-decoration: none;
                color: $color-font;
            }
        }
    }
}

.footer-icon2 {
    display: none;
}

.icon-arrow {
    display: none;
}


@media (max-width: 800px) {
    footer {
        .footer-cont {
        width: 94%;
        padding-top: 2em;
        position: relative;
        }
        .footer-icon {
            padding-right: 41px;

            p {
            display: none;
            }
        }
        .footer-icon2 {
            display: flex;
            a {
                color: $color-font;
                text-decoration: none;
            }
        }

    }
    .icon-arrow {
        display: inline;
        color: $title-color;
        position: absolute;
        background-color: white;
        margin-top: 33px;
        i {
            font-size: 30px;
        }
    }
}

