//Variables
$title-color: #fd8662;
$font-text: "IBM Plex Mono", monospace;
$font-title: "Indie Flower", cursive;
$margin-container: 0px;


header nav {
    display: block;
    .title {
        background-color: white;
        font-family: $font-title;
        color: $title-color;
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        padding-top: 1rem;
    }
    .navigation-desktop {
        background-color: white;
        display: flex;
        justify-content: center;
        font-family: $font-text; 
        padding-top: 1.675em;
        padding-bottom: 0.8em;
    }
    .dropdown-container {
        position: relative;
        .dropdown-content {
            display: none;
            position: absolute;
            z-index: 100;
            width: 100%;
            background-color: white;
            width: 7.6rem;
            height: 9rem;
        }
        &:hover .dropdown-content {
            display: block;
            
        }
    
    }

}

.n-mobile {
    display: none,
}

.dropdown-container {
    a:hover {
        color: $title-color;
        cursor: context-menu;
    }
    li {
        padding-top: 1.1364em;
    }

}

.navigation-desktop {
    .link {
        padding: 0.5rem 1rem;
        
    }
    &:hover {
        cursor: context-menu;
    }
    
}     

.navigation-item1 {
    a {
        color: $title-color;
        text-decoration: none;
        
    }
}

@media (max-width: 800px) {
    .body {
        display: block;
    }
    .n-desktop {
        display: none;    
    }

    .title {
        h1 {
            font-size: 53px;
            line-height: 71px;
        }
    }

    .n-mobile {
        width: 19em;
        margin: auto;
        display: block;
        background-color: #fd8662;
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding: 6px;
        border-radius: 10px;
        font-family: $font-text;
        text-align: center;
        .dropdown-container1 {
            position: relative;
            .dropdown-content1 {
                display: none;
                position: absolute;
                z-index: 100;
                background-color: $title-color;
                width: 7.6rem;
                height: 10rem;
            }
            &:hover .dropdown-content1 {
                display: block;
                margin: auto;
                margin-left: 30%;
                color: white;
            }
        
        }
    }
}

.dropdown-item1 {
    padding-top: 1em;

    
}